@font-face {
  font-family: 'Harry Potter';
  src: url('Harry-Potter.ttf.eot'); 
  src: url('Harry-Potter.ttf.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 20vh;
    width: 100%;
    background-color: #650505;
}

.header img {
    height: 25vh;
    width: 15vw;
    border: 12px solid #024526;
    background-position-x: top;
    margin: 35px;
}

.navbar h1 {
    font-family: 'Harry Potter';
    font-size: 3rem;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 20px;   
    margin: -300px auto 25px 0;
    padding-left: 80px;
    text-align: center;
}

.navbar ul {
    text-align: center;
    margin-left: 175px;
    padding-left: 30px;
    font-size: 1.5rem;
}

.navbar li {
    display: inline;
    padding-left: 30px; 
    margin-left: 60px;
    text-align: center; 
}

.navbar a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Harry Potter';
    color: bisque;
    font-size: 2rem;
    letter-spacing: 5px;
}

.border hr {
    background-color: #024526;
    height: 10px;
    border: 4px solid transparent;
}

/*Welcome Section*/

.welcome {
    background-image: url(img/cauldron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: right;
    background-blend-mode: darken;
    height: 80vh; 
    width: 100%; 
}

.welcome-text pre {
    font-family: 'Harry Potter';
    color: ivory;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px black;
    transform:translate(-5%, 75%);
    -moz-transform:translate(-5%, 75%);
    -ms-transform:translate(-5%, 75%);
    -o-transform:translate(-5%, 75%);
    -webkit-transform:translate(-5%, 75%);
}

.welcome-text button {
    font-family: 'Cuprum', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px black;
    border: 2px solid white;
    background-color: transparent;
    height: 80px;
    width: 275px;
    transform: translate(300%, 255%);
    -webkit-transform: translate(300%, 255%);
    -moz-transform: translate(300%, 255%);
    -ms-transform: translate(300%, 255%);
    -o-transform: translate(300%, 255%);
}

.welcome-text button:hover {
    color: #650505;
    font-weight: bolder; 
    border: 2px solid #650505;
    text-shadow: none;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.welcome-text a {
    text-decoration: none; 
    color: inherit;
}

/* Specials Section*/

.specials {
    height: 145vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
    url(img/specialsbg.jpg);
    background-size: cover;
    background-position: center;
    background-color: antiquewhite; 
    background-blend-mode: luminosity;
}

.order-container, .specials-row, .menus-row {
    margin-left: 11rem;
}

.order-container img {
    border: 6px solid #5E0351;
    height: 400px;
    width: 1250px;
    transform: translate(10%,20%);
    -webkit-transform: translate(10%,20%);
    -moz-transform: translate(10%,20%);
    -ms-transform: translate(10%,20%);
    -o-transform: translate(10%,20%);
    position: absolute;
}

.order-container h1 {
    font-family: 'Harry Potter';
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px black;
    color: white;
    padding-top: 150px;
    padding-left: 420px;
    position: absolute;
}

.button-line {
    padding-top: 225px; 
    padding-left: 475px;
}

.button-line button {
    height: 80px;
    width: 250px;
    background-color: transparent;
    border: 4px solid whitesmoke;
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
}

.button-line button:hover {
    background-color: ivory;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    text-shadow: none;
    color: #5E0351;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.button-line a, .button-line a:visited {
    text-decoration: none; 
    color: inherit;
}

.delivery-note {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;
    color: white;
    padding-top: 50px;
    padding-left: 440px;
    position: relative;
}

.specials-row {
    display: inline-flex;
}

.specials-row .row {
    border: 6px solid #5E0351;
    height: 300px;
    width: 396px;
}

.row {
    margin: 10px;
    top: 0;
    left: 0;
    transform:translate(28%, 25%);
    -webkit-transform:translate(28%, 25%);
    -moz-transform:translate(28%, 25%);
    -ms-transform:translate(28%, 25%);
    -o-transform:translate(28%, 25%);
}

.row h1 {
    font-family: 'Harry Potter';
    font-size: 35px;
    letter-spacing: 2px;
    color: white; 
    font-weight: lighter;
    text-shadow: 2px 2px black;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px; 
}

.row button {
    position: relative;
    height: 50px;
    width: 200px;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white; 
    text-shadow: 2px 2px 2px black;
    float: right;
    margin-right: 20px;
}

.row button:hover {
    background-color: ivory;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    text-shadow: none;
    color: #5E0351;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.row a {
    text-decoration: none; 
    color: inherit;
}
#serve {
    background-image: url(img/served.jpg);
    background-size: contain;
    background-position: center; 
}

#offers {
    background-image: url(img/offers.jpg);
    background-size: cover;
    background-position-x: right;
}

#offers h1 {
    font-size: 50px;
    margin-top: 30px;
}

#offers button {
    margin-top: 120px;
}

#gift-card {
    background-image: url(img/card.jpg);
    background-size: cover; 
    background-position-y: top;
    background-position: left; 
    background-blend-mode: darken;
}

#gift-card h1 {
    font-size: 40px;
    margin-top: 30px;
}

#gift-card button {
    margin-top: 135px;
}

.menus-row {
    display: inline-flex;
}

.menus-row .row-menu {
    border: 6px solid #5E0351;
    height: 350px;
    width: 610px;
}

.row-menu {
   margin: 10px;
   top: 0;
   left: 0;
   transform:translate(18%, 25%);
   -webkit-transform:translate(18%, 25%);
   -moz-transform:translate(18%, 25%);
   -ms-transform:translate(18%, 25%);
   -o-transform:translate(18%, 25%);
}

.row-menu h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px black;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.row-menu button {
    position: relative;
    height: 50px;
    width: 275px;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-shadow: 2px 2px 2px black;
    float: right;
    margin-right: 25px;
    
}

.row-menu button:hover {
    background-color: ivory;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    text-shadow: none;
    color: #5E0351;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.row-menu a {
    text-decoration: none;
    color: inherit;
}

#dinner {
    background-image: url(img/dinner.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

#dinner button {
    margin-top: 100px;
}

#lunch {
    background-image: url(img/lunch.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

#lunch button {
    margin-top: 175px;
}

/*Footer Section*/
.footer {
    height: 56vh; 
    width: 100%; 
    background-color: #650505;
    text-align: center; 
    color: bisque;
}

.top {
    font-family: 'Cuprum', sans-serif;
    font-size: 12px;
    color: blanchedalmond;
    text-align: center;
    background-color: #024526;
    padding: 5px;
}

.top a, .top a:visited {
    text-decoration: none; 
    color: blanchedalmond;
}

.social h3 {
    font-family: 'Cuprum', sans-serif;
    padding-top: 20px;
    font-size: 20px;
}

.social img {
    height: 40px;
    padding-top: 10px;
    margin: 10px;
}

.social li {
    display: inline;    
    list-style: none; 
}

.links h2 {
    font-family: 'Cuprum', sans-serif; 
    margin-top: 10px;
}

.links img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 6px solid #024526; 
    margin: 10px;
}

.links a,
.links a:visited {
    text-decoration: none;
    color: inherit;
}

.brand h4 {
    font-family: 'Cuprum', sans-serif; 
    font-size: 18px;
}

.brand strong {
    font-family: 'Harry Potter';
    letter-spacing: 4px;
}

/*Menu Page*/

.menu {
    height: 345vh;
    width: 100%;
    background-color: blanchedalmond;
}

.menu-navbar ul {
    text-align: center;
    font-family: 'Almendra SC', serif;
    font-size: 2rem;
    color: #5E0351;
    padding: 30px 0 55px 200px;
}

.menu-navbar li {
    display: inline;
    text-align: center; 
    padding-left: 10px;
}

.menu-navbar a, .menu-bar a:visited {
    text-decoration: none; 
    list-style: none;
    color: #5E0351;
}

.app-header h1 {
    font-family: 'Harry Potter'; 
    font-size: 3rem;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 5px;
    color: #5E0351;
}

.app-row {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    left: 0;
    top: 0;
    transform:translate(35%,20%);
    -moz-transform:translate(35%,20%);
    -ms-transform:translate(35%,20%);
    -o-transform:translate(35%,20%);
    -webkit-transform:translate(35%,20%);
}

.app-row h3 {
    font-family: 'Almendra SC', serif; 
    font-size: 1.5rem;
    word-spacing: 3px;
}

.app-row p {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5rem;
}

.app-row h4 {
    font-family: 'Almendra SC', serif;  
    font-size: 1.5rem;
    font-weight: bold;
}

.app-header hr {
    border: 5px solid #5E0351;
    width: 1250px;
    color: #5E0351;
    margin: 80px auto;
    text-align: center; 

}

/*Offers Page*/

.offer {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
    url(img/specialsbg.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-color: blanchedalmond;
    background-blend-mode: luminosity;
}

.offer-container h1{
    font-family: 'Harry Potter'; 
    color: #5E0351;
    text-shadow: 6px 6px 6px ivory;
    padding: 175px 50px 100px 150px;
    font-size: 55px;
    text-align: center;
    letter-spacing: 1.5px; 
}

input {
    height: 70px;
    width: 350px;
    left: 0;
    top: 0;
    transform: translate(182%,-125%);
    -webkit-transform: translate(182%,-125%);
    -moz-transform: translate(182%,-125%);
    -ms-transform: translate(182%,-125%);
    -o-transform: translate(182%,-125%);
    border: none;
    margin: 5px;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    transform: translate(2550%, -192%);
    -webkit-transform: translate(2550%, -192%);
    -moz-transform: translate(2550%, -192%);
    -ms-transform: translate(2550%, -192%);
    -o-transform: translate(2550%, -192%);
    background-color: white;
    border: 2px solid #5E0351;
}

input[type=submit] {
    height: 70px;
    width: 250px;
    left: 0;
    top: 0;
    transform: translate(-20%, 30%);
    -webkit-transform: translate(-20%, 30%);
    -moz-transform: translate(-20%, 30%);
    -ms-transform: translate(-20%, 30%);
    -o-transform: translate(-20%, 30%);
    background: #5E0351;
    border: 4px solid white;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    color: white;
}

input[type=submit]:hover {
    border: 4px solid #5E0351;
    background: white;
    color: #5E0351;
    font-weight: bolder;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

form h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.75rem;
    font-weight: bolder;
    margin: -78px 0 0 690px;
    color: #5E0351;
    text-shadow: 4px 4px 4px ivory;
}

::placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: #5E0351; 
}

/*Deals Section*/
.deals {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.deals h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    text-align: center;
    color: #5E0351;
    padding-top: 80px;
    letter-spacing: 4px;
}

.deals-container {
    display: inline-flex;
    padding: 50px 200px;
    margin: 0 auto;
}

.card {
    width: 450px;
    height: 550px;
    background-color: white;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:visited {
    text-decoration: none;
    color: inherit;
}

.card img {
    height: 350px;
}

.deals-card {
    margin: 25px;
    width: 450px;
    height: 560px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.deals-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: .5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.container {
    padding: 2px 16px;
}

.container h4 {
    font-family: 'Almendra SC', serif;
    font-size: 2rem;
    font-weight: bold;
    word-spacing: 3px;
    text-align: center;
    padding: 5px;
}

.container p {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center; 
}

/*Special Offers Section*/
.special-offers {
    height: 233.5vh;
    width: 100%;
    background-color: #024526;
}

.special-container {
    display: flex;
    flex-direction: column;
    background-color: #024526;
}

.gift-card img {
    float: left;
    height: 75vh; 
    width: 30%;
}

.gift-card h1 {
    font-family: 'Harry Potter'; 
    color: bisque;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center; 
    padding-top: 60px;
}

.gift-card p {
    font-family: 'Cuprum', sans-serif;
    color: bisque;
    font-size: 25px;
    text-align: right;
    padding-top: 20px;
    padding: 2rem 6rem 0 6rem;
    line-height: 1.5;
}

.gift-card button {
    height: 50px;
    width: 150px;
    border: 2px solid ivory;
    background: transparent;
    font-family: 'Cuprum',
    sans-serif;
    font-size: 25px;
    color: ivory;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}

.gift-card button:hover {
    color: #024526;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.serve img {
    float: right; 
    height: 85vh;
    width: 50%;
}

.serve h1 {
    font-family: 'Harry Potter';
    color: bisque;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 85px;
}

.serve p {
    font-family: 'Cuprum', sans-serif;
    color: bisque;
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
    margin: 20px 50px 0 50px;
    line-height: 1.5;
}

.serve button {
    height: 50px;
    width: 150px;
    border: 2px solid ivory;
    background: transparent;
    font-family: 'Cuprum',
    sans-serif;
    font-size: 25px;
    color: ivory;
    float: left;
    margin-left: 55px;
    margin-top: 30px;
}

.serve button:hover {
    color: #024526;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.more-offer img {
    float: left;
    height: 688px;
    width: 50%;
}

.more-offer h1 {
    font-family: 'Harry Potter';
    color: bisque;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 50px;
}

.more-offer p {
    font-family: 'Cuprum', sans-serif;
    color: bisque;
    font-size: 25px;
    text-align: right;
    padding-top: 20px;
    margin: 20px 50px 0 50px;
}

.more-offer button {
    height: 50px;
    width: 150px;
    border: 2px solid ivory;
    background: transparent;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    color: ivory;
    float: right;
    margin-right: 55px;
    margin-top: 20px;
}

.more-offer button:hover {
    color: #024526;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*About Page*/

.about {
    height: 500vh;
    width: 100%;
    background-color: bisque;
}

.about-header {
    height: 80vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(img/about.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.about-header h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    letter-spacing: 5px;
    color: ivory; 
    text-align: center; 
    padding-top: 300px;
}

.about-history p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px; 
    color: black;
    text-align: left; 
    margin: 20px 80px 5px 80px;   
}

.early-history h1 {
    font-family: 'Harry Potter';
    font-size: 30px;
    color: black;
    letter-spacing: 4px;
    margin: 50px 0 0 80px;
}

.early-history h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 10px 0 0 80px;
}

.early-history h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 80px 5px 80px;
}

.early-history p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 20px 80px 5px 80px;
}

.recent-history h1 {
    font-family: 'Harry Potter';
    font-size: 30px;
    color: black;
    letter-spacing: 4px;
    margin: 50px 0 0 80px;
}

.recent-history h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 10px 0 0 80px;
}

.recent-history h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 80px 5px 80px;
}

.recent-history p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 20px 80px 5px 80px;
}

.structure h1 {
    font-family: 'Harry Potter';
    font-size: 30px;
    color: black;
    letter-spacing: 4px;
    margin: 50px 0 0 80px;
}

.structure h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 10px 0 0 80px;
}

.structure h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 80px 5px 80px;
}

.structure p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 20px 80px 5px 80px;
}

.rooms h1 {
    font-family: 'Harry Potter';
    font-size: 30px;
    color: black;
    letter-spacing: 4px;
    margin: 50px 0 0 80px;
}

.rooms p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 20px 80px 5px 80px;
}

/*Contact Page*/

.contact {
    height: 150vh;
    width: 100%;
    background-color: blanchedalmond;
}

.header-contact {
    background-image: url(img/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: bottom;
    height: 80vh;
    width: 100%;
}

.header-contact h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px black;
    color: ivory;
    text-align: center;
    padding-top: 300px;
}

.contact-questions h1 {
    font-family: 'Harry Potter';
    font-size: 40px;
    letter-spacing: 4px; 
    text-align: center; 
    margin: 150px auto;
    color: #5E0351;
}

.contact-questions button {
    position: relative;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    background-color: #65050e;
    border: none;
    margin: 10px;
    height: 80px;
    width: 250px;
    transform: translate(195%, -150%);
    -webkit-transform: translate(195%, -150%);
    -moz-transform: translate(195%, -150%);
    -ms-transform: translate(195%, -150%);
    -o-transform: translate(195%, -150%);
    color: ivory;
}

.contact-questions button:hover {
    background-color: ivory;
    color: #65050e;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.contact-questions a {
    text-decoration: none;
    color: inherit;
}

.contact-questions a:visited {
    text-decoration: none;
    color: inherit;
}

.contact-accordion {
    background-color: blanchedalmond;
    min-height: 70vh;
    text-align: center;
    display: flex;
    padding-top: 40px;
}

.container-faq h1 {
    font-family: 'Harry Potter';
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: #5E0351;
    margin-left: 415px;
    margin-bottom: 30px;
}

.accordion-info a {
    font-family: 'Almendra SC', serif;
    font-size: 25px;
    font-weight: bolder;
    word-spacing: 4px;
}

.accordion h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 4px;
    margin-left: 400px;
}

.accordion p {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

/*Accordion Toggle Effect*/
/*Adapted from Katherine Kato on Codepen https://codepen.io/kathykato/pen/MoZJom*/
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    margin-left: 450px;
    color: #650505;
    font-family: 'Almendra SC', serif;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
}

.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #ec7d7d;
}

.accordion a:hover::after {
    color: #ec7d7d;
}

.accordion a.active {
    color: #650505;
    border-bottom: 1px solid #5E0351;
}

.accordion a::after {
    font-family: 'Ionicons';
    content: '\f100';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 2rem;
    color: #650505;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f116';
    color: #650505;
    border: none; 
}

.accordion .accordion-faq {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    -moz-transition: all 0.2s ease 0.15s;
    -ms-transition: all 0.2s ease 0.15s;
}

.accordion .accordion-faq p {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 400px;
}

.accordion .accordion-faq.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
    -moz-transition: all 0.35s ease 0.15s;
    -ms-transition: all 0.35s ease 0.15s;
}

/*Questions and Feedbacks Section*/
.questions-feedbacks {
    background-color: blanchedalmond;
    height:135vh;
    width: 100%;
}

.qb-container h1 {
    font-family: 'Harry Potter';
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: #5E0351;
    padding-top: 50px;
    margin-bottom: 10px;
}

.qb-container h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    word-spacing: 4px;
    text-align: center;
    padding-top: -50px; 
}

.qb-container input {
    height: 70px;
    width: 350px;
    left: 0;
    top: 0;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    transform: translate(108%, 50%);
    -webkit-transform: translate(108%, 50%);
    -moz-transform: translate(108%, 50%);
    -ms-transform: translate(108%, 50%);
    -o-transform: translate(108%, 50%);
    border: none;
    margin: 5px;
}

.qb-container select {
    height: 70px;
    width: 350px;
    left: 0;
    top: 0;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    transform: translate(108%, 50%);
    -webkit-transform: translate(108%, 50%);
    -moz-transform: translate(108%, 50%);
    -ms-transform: translate(108%, 50%);
    -o-transform: translate(108%, 50%);
    border: none;
    margin: 5px;
    color: #650505;
}

.qb-container option, .qb-container option::placeholder {
    font-weight: bold;
    color: #650505;
    padding-left: 20px;
}

.qb-container textarea {
    height: auto;
    width: 724px;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
    left: 0;
    top: 0;
    transform: translate(53.5%, 20%);
    -webkit-transform: translate(53.5%, 20%);
    -moz-transform: translate(53.5%, 20%);
    -ms-transform: translate(53.5%, 20%);
    -o-transform: translate(53.5%, 20%);
    background-color: white;
    border: none;
}

.qb-container textarea::placeholder {
    text-align: left;
}


.qb-container input[type=checkbox] {
    height: 20px;
    width: 20px;
    left: 0;
    top: 0;
    transform: translate(-1700%, 650%);
    -webkit-transform: translate(-1700%, 650%);
    -moz-transform: translate(-1700%, 650%);
    -ms-transform: translate(-1700%, 650%);
    -o-transform: translate(-1700%, 650%);
    background-color: white;
    border: 2px solid #5E0351;
}

.qb-container input[type=submit] {
    height: 70px;
    width: 250px;
    left: 0;
    top: 0;
    transform: translate(-20%, 30%);
    -webkit-transform: translate(-20%, 30%);
    -moz-transform: translate(-20%, 30%);
    -ms-transform: translate(-20%, 30%);
    -o-transform: translate(-20%, 30%);
    background: #5E0351;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    color: white;
}

.qb-container input[type=submit]:hover {
    background: white;
    color: #5E0351;
    font-weight: bolder;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.qb-container form h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin: 80px 450px;
    color: #5E0351;
    text-shadow: 2px 2px ivory;
}

.qb-container ::placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: #5E0351;
}

/*TERMS AND CONDITIONS PAGE*/

.terms-conditions {
    height: 370vh; 
    width: 100%; 
    background-color: blanchedalmond;
}

.terms-conditions h1 {
    font-family: 'Harry Potter'; 
    font-size: 40px; 
    text-align: center; 
    padding-top: 100px;
    letter-spacing: 4px;
    color: #5E0351;
}

.terms-conditions h2 {
    font-family: 'Almendra SC', serif; 
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 50px 120px auto;
}

.terms-conditions p {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 120px auto;
    text-align: justify;
}

.terms-conditions pre {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 80px auto;
    text-align: justify;
}

/*PRIVACY POLICY PAGE*/

.privacy-policy {
    height: 785vh;
    width: 100%;
    background-color: blanchedalmond;
}

.privacy-policy h1 {
    font-family: 'Harry Potter';
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 4px;
    color: #5E0351;
}

.privacy-policy h3 {
    font-family: 'Almendra SC', serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 50px 120px auto;
}

.privacy-policy li {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    margin: 20px 155px auto;
    text-align: justify;
}

.privacy-policy p {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 120px auto;
    text-align: justify;
}

.privacy-policy pre {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 80px auto;
    text-align: justify;
}
