@font-face {
  font-family: 'Harry Potter';
  src: url('Harry-Potter.ttf.eot'); 
  src: url('Harry-Potter.ttf.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 25vh;
    width: 100%;
    background-color: #650505;
}

.header img {
    height: 30vh;
    width: 15vw;
    border: 12px solid #024526;
    background-position-x: top;
    margin: 34px;
}

.navbar-header {
    font-family: 'Harry Potter';
    font-size: 50px;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 10px;   
    margin: -275px auto 0;
    text-align: center;
}

.navbar ul {
    text-align: center;
    margin-left: 175px;
    padding-left: 30px;
}

.navbar li {
    display: inline;
    padding-left: 30px;
    margin-left: 60px;
    text-align: center; 
}

.navbar a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Harry Potter';
    color: bisque;
    font-size: 37px;
    letter-spacing: 5px;
}

.border hr {
    background-color: #024526;
    height: 10px;
    border: 4px solid transparent;
}

/*Welcome Section*/

.welcome {
    background-image: url(img/cauldron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: right;
    background-blend-mode: darken;
    height: 80vh; 
    width: 100%; 
}

.welcome-text pre {
    font-family: 'Harry Potter';
    color: ivory;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px black;
    transform:translate(-5%, 50%);
    -moz-transform:translate(-5%, 50%);
    -ms-transform:translate(-5%, 50%);
    -o-transform:translate(-5%, 50%);
    -webkit-transform:translate(-5%, 50%);
}

.welcome-text button {
    font-family: 'Cuprum', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px black;
    border: 2px solid white;
    background-color: transparent;
    height: 80px;
    width: 275px;
    transform: translate(250%, 175%);
    -webkit-transform: translate(250%, 175%);
    -moz-transform: translate(250%, 175%);
    -ms-transform: translate(250%, 175%);
    -o-transform: translate(250%, 175%);
}

.welcome-text button:hover {
    color: #650505;
    font-weight: bolder; 
    border: 2px solid #650505;
    text-shadow: none;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.welcome-text a {
    text-decoration: none; 
    color: inherit;
}

/* Specials Section*/

.specials {
    height: 180vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
    url(img/specialsbg.jpg);
    background-size: cover;
    background-position: center;
    background-color: antiquewhite; 
    background-blend-mode: luminosity;
}

.order-container img {
    border: 6px solid #5E0351;
    height: 400px;
    width: 1250px;
    transform: translate(10%,20%);
    -webkit-transform: translate(10%,20%);
    -moz-transform: translate(10%,20%);
    -ms-transform: translate(10%,20%);
    -o-transform: translate(10%,20%);
    position: absolute;
}

.order-container h1 {
    font-family: 'Harry Potter';
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px black;
    color: white;
    padding-top: 150px;
    padding-left: 420px;
    position: absolute;
}

.button-line {
    padding-top: 225px; 
    padding-left: 475px;
}

.button-line button {
    height: 80px;
    width: 250px;
    background-color: transparent;
    border: 4px solid whitesmoke;
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
}

.button-line button:hover {
    background-color: ivory;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    text-shadow: none;
    color: #5E0351;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.delivery-note {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;
    color: white;
    padding-top: 50px;
    padding-left: 440px;
    position: relative;
}

.specials-row {
    display: inline-flex;
}

.specials-row .row {
    border: 6px solid #5E0351;
    height: 300px;
    width: 396px;
}

.row {
    margin: 10px;
    top: 0;
    left: 0;
    transform:translate(28%, 25%);
    -webkit-transform:translate(28%, 25%);
    -moz-transform:translate(28%, 25%);
    -ms-transform:translate(28%, 25%);
    -o-transform:translate(28%, 25%);
}

.row h1 {
    font-family: 'Harry Potter';
    font-size: 35px;
    letter-spacing: 2px;
    color: white; 
    font-weight: lighter;
    text-shadow: 2px 2px black;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px; 
}

.row button {
    position: relative;
    height: 50px;
    width: 200px;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white; 
    text-shadow: 2px 2px 2px black;
    float: right;
    margin-right: 20px;
}

.row button:hover {
    background-color: ivory;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    text-shadow: none;
    color: #5E0351;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.row a {
    text-decoration: none; 
    color: inherit;
}
#serve {
    background-image: url(img/served.jpg);
    background-size: contain;
    background-position: center; 
}

#offers {
    background-image: url(img/offers.jpg);
    background-size: cover;
    background-position-x: right;
}

#offers h1 {
    font-size: 50px;
    margin-top: 30px;
}

#offers button {
    margin-top: 120px;
}

#gift-card {
    background-image: url(img/card.jpg);
    background-size: cover; 
    background-position-y: top;
    background-position: left; 
    background-blend-mode: darken;
}

#gift-card h1 {
    font-size: 40px;
    margin-top: 30px;
}

#gift-card button {
    margin-top: 135px;
}

.menus-row {
    display: inline-flex;
}

.menus-row .row-menu {
    border: 6px solid #5E0351;
    height: 350px;
    width: 610px;
}

.row-menu {
   margin: 10px;
   top: 0;
   left: 0;
   transform:translate(18%, 25%);
   -webkit-transform:translate(18%, 25%);
   -moz-transform:translate(18%, 25%);
   -ms-transform:translate(18%, 25%);
   -o-transform:translate(18%, 25%);
}

.row-menu h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px black;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.row-menu button {
    position: relative;
    height: 50px;
    width: 275px;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-shadow: 2px 2px 2px black;
    float: right;
    margin-right: 25px;
    
}

.row-menu button:hover {
    background-color: ivory;
    border: 4px solid #5E0351;
    font-family: 'Cuprum', sans-serif;
    text-shadow: none;
    color: #5E0351;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.row-menu a {
    text-decoration: none;
    color: inherit;
}

#dinner {
    background-image: url(img/dinner.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

#dinner button {
    margin-top: 100px;
}

#lunch {
    background-image: url(img/lunch.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

#lunch button {
    margin-top: 175px;
}

/*Footer Section*/
.footer {
    height: 78vh; 
    width: 100%; 
    background-color: #650505;
    text-align: center; 
    color: bisque;
}

.top {
    font-family: 'Cuprum', sans-serif;
    font-size: 12px;
    color: blanchedalmond;
    text-align: center;
    background-color: #024526;
    padding: 5px;
}

.top a, .top a:visited {
    text-decoration: none; 
    color: blanchedalmond;
}

.social h3 {
    font-family: 'Cuprum', sans-serif;
    padding-top: 20px;
    font-size: 20px;
}

.social img {
    height: 40px;
    padding-top: 10px;
    margin: 10px;
}

.social li {
    display: inline;    
    list-style: none; 
}

.links h2 {
    font-family: 'Cuprum', sans-serif; 
    margin-top: 10px;
}

.links img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 6px solid #024526; 
    margin: 10px;
}

.links a,
.links a:visited {
    text-decoration: none;
    color: inherit;
}

.brand h4 {
    font-family: 'Cuprum', sans-serif; 
    font-size: 18px;
}

.brand strong {
    font-family: 'Harry Potter';
    letter-spacing: 4px;
}

/*Menu Page*/

.menu {
    height: 365vh;
    width: 100%;
    background-color: blanchedalmond;
}

.menu-navbar ul {
    text-align: center;
    font-family: 'Almendra SC', serif;
    font-size: 30px;
    color: #5E0351;
    padding: 30px 0 55px 200px;
}

.menu-navbar li {
    display: inline;
    text-align: center; 
    padding-left: 10px;
}

.menu-navbar a, .menu-bar a:visited {
    text-decoration: none; 
    list-style: none;
    color: #5E0351;
}

.app-header h1 {
    font-family: 'Harry Potter'; 
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 5px;
    color: #5E0351;
}

.app-row {
    display: inline-block;
    padding-left: 75px;
    padding-top: 15px;
    left: 0;
    top: 0;
    transform:translate(27%,20%);
    -moz-transform:translate(27%,20%);
    -ms-transform:translate(27%,20%);
    -o-transform:translate(27%,20%);
    -webkit-transform:translate(27%,20%);
}

.app-row h3 {
    font-family: 'Almendra SC', serif; 
    font-size: 25px;
    word-spacing: 3px;
}

.app-row p {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
}

.app-row h4 {
    font-family: 'Almendra SC', serif;  
    font-size: 20px;
    font-weight: bold;
}

.app-header hr {
    border: 5px solid #5E0351;
    width: 1250px;
    color: #5E0351;
    margin: 50px auto;
    text-align: center; 

}

/*Offers Page*/

.offer {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
    url(img/specialsbg.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-color: blanchedalmond;
    background-blend-mode: luminosity;
}

.offer-container h1{
    font-family: 'Harry Potter'; 
    color: #5E0351;
    text-shadow: 6px 6px 6px ivory;
    padding: 125px 50px 100px 50px;
    font-size: 55px;
    text-align: center;
    letter-spacing: 1.5px; 
}

input {
    height: 70px;
    width: 350px;
    left: 0;
    top: 0;
    transform: translate(115%,-125%);
    -webkit-transform: translate(115%,-125%);
    -moz-transform: translate(115%,-125%);
    -ms-transform: translate(115%,-125%);
    -o-transform: translate(115%,-125%);
    border: none; 
    margin: 5px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    left: 0;
    top: 0;
    transform: translate(2010%, -250%);
    -webkit-transform: translate(2010%, -250%);
    -moz-transform: translate(2010%, -250%);
    -ms-transform: translate(2010%, -250%);
    -o-transform: translate(2010%, -250%);
    background-color: white; 
    border: 2px solid #5E0351;
}

input[type=submit] {
    height: 70px;
    width: 250px;
    left: 0;
    top: 0;
    transform: translate(-20%, 30%);
    -webkit-transform: translate(-20%, 30%);
    -moz-transform: translate(-20%, 30%);
    -ms-transform: translate(-20%, 30%);
    -o-transform: translate(-20%, 30%);
    background: #5E0351;
    border: 4px solid white;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    color: white;
}

input[type=submit]:hover {
    border: 4px solid #5E0351;
    background: white;
    color: #5E0351;
    font-weight: bolder;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

form h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin: -100px 450px;
    color: #5E0351;
    text-shadow: 2px 2px ivory;
}

::placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: #5E0351; 
}

/*Deals Section*/
.deals {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.deals h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    text-align: center;
    color: #5E0351;
    padding-top: 50px;
    letter-spacing: 4px;
}

.deals-container {
    display: inline-flex;
    padding: 10px 150px;
    margin: 0 auto;
}

.card {
    width: 350px;
    height: 250px;
    background-color: white;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:visited {
    text-decoration: none;
    color: inherit;
}

.card img {
    height: 300px;
}

.deals-card {
    margin: 25px;
    width: 350px;
    height: 475px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.deals-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: .5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.container {
    padding: 2px 16px;
}

.container h4 {
    font-family: 'Almendra SC', serif;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 3px;
    text-align: center;
    padding: 5px;
}

.container p {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center; 
}

/*Special Offers Section*/
.special-offers {
    height: 268vh;
    width: 100%;
    background-color: #024526;
}

.special-container {
    display: flex;
    flex-direction: column;
    background-color: #024526;
}

.gift-card img {
    float: left;
    height: 625px; 
    width: 50%;
}

.gift-card h1 {
    font-family: 'Harry Potter'; 
    color: bisque;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center; 
    padding-top: 50px;
}

.gift-card p {
    font-family: 'Cuprum', sans-serif;
    color: bisque;
    font-size: 25px;
    text-align: right;
    padding-top: 20px;
    margin: 20px 50px 0 50px;
}

.gift-card button {
    height: 50px;
    width: 150px;
    border: 2px solid ivory;
    background: transparent;
    font-family: 'Cuprum',
    sans-serif;
    font-size: 25px;
    color: ivory;
    float: right;
    margin-right: 55px;
    margin-top: 20px;
}

.gift-card button:hover {
    color: #024526;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.serve img {
    float: right; 
    height: 625px;
    width: 50%;
}

.serve h1 {
    font-family: 'Harry Potter';
    color: bisque;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 50px;
}

.serve p {
    font-family: 'Cuprum', sans-serif;
    color: bisque;
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
    margin: 20px 50px 0 50px;
}

.serve button {
    height: 50px;
    width: 150px;
    border: 2px solid ivory;
    background: transparent;
    font-family: 'Cuprum',
    sans-serif;
    font-size: 25px;
    color: ivory;
    float: left;
    margin-left: 55px;
    margin-top: 20px;
}

.serve button:hover {
    color: #024526;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.more-offer img {
    float: left;
    height: 688px;
    width: 50%;
}

.more-offer h1 {
    font-family: 'Harry Potter';
    color: bisque;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 50px;
}

.more-offer p {
    font-family: 'Cuprum', sans-serif;
    color: bisque;
    font-size: 25px;
    text-align: right;
    padding-top: 20px;
    margin: 20px 50px 0 50px;
}

.more-offer button {
    height: 50px;
    width: 150px;
    border: 2px solid ivory;
    background: transparent;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    color: ivory;
    float: right;
    margin-right: 55px;
    margin-top: 20px;
}

.more-offer button:hover {
    color: #024526;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*About Page*/

.about {
    height: 300vh;
    width: 100%;
    background-color: bisque;
}

.about-header {
    height: 80vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(img/about.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.about-header h1 {
    font-family: 'Harry Potter';
    font-size: 50px;
    letter-spacing: 5px;
    color: ivory; 
    text-align: center; 
    padding-top: 400px;
}

.about-history p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px; 
    color: black;
    text-align: left; 
    margin: 20px 80px 5px 80px;   
}

.early-history h1 {
    font-family: 'Harry Potter';
    font-size: 30px;
    color: black;
    letter-spacing: 4px;
    margin: 50px 0 0 80px;
}

.early-history h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 10px 0 0 80px;
}

.early-history h3 {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin: 20px 80px 5px 80px;
}

.early-history p {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin: 20px 80px 5px 80px;
}